// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// My colors:
$light-gray: #F4F4F4;
$purple: #960CA4;
$black: #040404;
$gray: #D8D8D8;
$dark-gray: #979797;
