.cart-container {
  margin: 7vw 5vh 5vw 5vh
}

.cart-container {
  font-size: 18px;
}

.order_item_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: start;
}

.order_item_line p {
  text-align: end;
}

.product_description {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product_name_as_title {
  font-size: 24px;
  color: $black;
}

.fa-trash {
  color: $dark-gray;
}

.fa-trash:hover {
  color: $purple;
}

.cart_subtotal {
  width: 100%;
  font-size: 24px;
  color: $black;
  font-weight: 700;
  text-align: end;
}

.column_description {
  font-size: 18px;
  color: $dark-gray;
  font-weight: 700;
}

.cart_buttons {
  display: flex;
  justify-content: space-around;
}

.checkout_buttons {
  width: 50%;
  display: block;
  margin-left: 5vw;
  margin-top: 8vh;
}

#checkout-form-button {
  border-radius: 5px;
  width: 100%;
  background-color: $purple;
  color: $white;
  height: 7vh;
  font-weight: bold;
  font-size: 18px;
  font-style: $body-font;
  margin-top: 2vh;
  box-shadow: none;
}

#checkout-form-button a {
  color: $white
}


#checkout-form-button:hover {
  color: $white
}

#paypal-button {
  border-radius: 5px;
  width: 100%;
  background-color: #F8BF38;
  height: 7vh;
  font-weight: bold;
  font-size: 18px;
  font-style: $body-font;
  margin-top: 2vh;
  box-shadow: none;
  color: #003083;
}

#paypal-button a {
  color: #003083;
}

#paypal-button:hover {
  background-color: #003083;
}

#continue_shopping {
  border-radius: 5px;
  width: 50%;
  background-color: $gray;
  color: $dark-gray;
  height: 7vh;
  font-weight: bold;
  font-size: 18px;
  font-style: $body-font;
  margin-right: 2vw;
  margin-top: 10vh;
  box-shadow: none;
}

#continue_shopping a {
  color: $dark-gray;
  text-decoration: none;
}

#continue_shopping a:hover {
  color: $black;
  text-decoration: none;
}
#continue_shopping:hover {
  background-color: $dark-gray;
}

