
.show-container {
  margin: 7vw 5vh 5vw 5vh
}

.product-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2vh 2vh;
  background-color: white;
}

.product-carrousel {
  width: 70vw;
  height: content-fit;
}

.product-carrousel img {
  width: 100%;
  max-width: 100%;
  padding: 2vh 2vw;
  background-color: white;
}

.product-infos {
  width: 30vw;
  max-height: 100%;
  padding: 2vh 2vw;
  position: relative;
}

.product-infos h2 {
  font-size: 28px;
}

.product-infos p {
  font-size: 18px;
  font-weight: 400;
}

.product-infos .subtitle {
  font-size: 20px;
  margin: 3vh 0 2vh 0;
}

.available {
  list-style-type: none;
  display: inline;
  padding: 0;
}

.available-item {
  display: inline-block;
  margin: 0;
  padding-right: 3vw;
  width: 2vh;
  height: 2vw;
  color: $black;
}

.available li div {
  margin: 0;
  padding: 0;
}

.color-thumb {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

//ORDER


.order-form {
  width: 90%;
  position: absolute;
  bottom: 2vh;
}

.order_item_quantity {
  width:100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-purple;
  border: none;
  border-radius: 4px;
  padding: 1vh 1vw;
}

#add_quantity {
  display: flex;
  align-items: center;
  height: 7vh;
  color: $black;
  width: 7vw;
  justify-content: space-between;
}

#product_price {
  display: none;
}

.order_item_quantity p {
 // padding-right: 1vw;
 color: $black;
 margin: 0;
}

.order_item_total {
  display: flex;
  align-items: center;
  justify-content: end;
}

.order_item_total p {
  padding: 0;
}

#show-form-button {
  border-radius: 5px;
  width: 100%;
  background-color: $purple;
  color: $white;
  height: 9vh;
  font-weight: bold;
  font-size: 18px;
  font-style: $body-font;
  margin-top: 2vh;
  box-shadow: none;
}

#show-form-button:hover {
  color: $white
}

//REVIEWS

.product-reviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vh 4vw 2vh 2vw;
}

.reviews-title {
  font-weight: 400;
  font-size: 20px;
}

.reviews-statement {
  font-size: 18px;
}

.review-content {
  font-size: 18px;
}

#reviews {
  padding: 2vh 2vw;
}

#reviews .fas {
  color: $purple;
}

#reviews .far {
  color: $light-purple;
}

.btn-light {
  color: $black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  height: 50%;
  align-items: center;
  border-radius: 5px;
  box-shadow: none;
}

.btn-light a {
  color: $black;
}
.btn-light a :hover {
  color: $purple;
}


