<div class="footer">
  <div class="footer-links">
    <a href=#>(c) Accelerate digital</a>
    <a href=#>About</a>
    <a href=#>Refund policy</a>
    <a href=#>Privacy policy</a>
    <a href=#>Terms of service</a>
  </div>

</div>
