.thumbnail {
  position: relative;
  width: 10vw;
  max-height: 10vw;
  height: 10vh;
  overflow: hidden;
  border-radius: 6px;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
// .thumbnail img .portrait {
//   width: 100%;
//   height: auto;
// }
