
<div class="show-container">

  <div class="product-details">
      <div class="product-carrousel">

      </div>

      <div class="product-infos">
        <h2>@product.name.capitalise</h2>
        <p>@product.description</p>

        <p><<strong>Available colors</strong></p>
        <ul class="available-colors">
         <li>@product.color</li>
         <li></li>
         <li></li>
        </ul>

        <p><<strong>Available sizes</strong></p>
      </div>
  </div>

  <div class="product-reviews">

  </div>

</div>


